.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 50px;

    
}

.categories__button {
    border-radius: 10px !important;
    background-color: #00B3B3 !important;
    padding: 5px 15px !important;
}